## Vorhersage von Immobilienpreisen - Preprocessing

In diesem Tutorial lernen wir verschiedene Arbeitsschritte zur Vorverarbeitung von Daten kennen, die oft in der Anwendung ausgeführt werden müssen:

- Encoding (ordinale und nominale Features)
- Imputation (fehlende Werte)
- Feature Scaling (numerische Features)

Wir tun dies anhand eines kleinen Beispiels, das dem Datensatz zur Vorhersage von Immobilienpreisen angelehnt ist, um alle Zwischenschritte im Detail zu verstehen.

Das Vorgehen ist in folgenden Videos dargestellt:
- [Preprocessing - Einleitung](https://youtu.be/cT8ffI4U8-E)
- [Preprocessing - Missing Values](https://youtu.be/2Nd4tPhophc)
- [Preprocessing - Encoding](https://youtu.be/PA0Bykxn4_w)
- [Preprocessing - Feature Scaling](https://youtu.be/QxiUUpnglnk)

![Train Data](https://raw.githubusercontent.com/layerwise/training/main/assets/house_prices_test_example_image.png)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df_train = pd.DataFrame(
    {
        "Lot Shape": ["Reg", "Reg", "IR1", "IR2", "IR3", "IR2"],
        "Street": ["Grvl", "Grvl", np.nan, "Pave", "Pave", "Grvl"],
        "Lot Frontage": [64.0, 81.0, np.nan, 80.0, 96.0, np.nan],
        "Yr Sold": [2008, 2007, 2009, 2007, 2006, 2009]
        "Pool QC": [np.nan, np.nan, np.nan]
    }
)

df_train

  Lot Shape Street  Lot Frontage  Yr Sold
0       Reg   Grvl          64.0     2008
1       Reg   Grvl          81.0     2007
2       IR1    NaN           NaN     2009
3       IR2   Pave          80.0     2007
4       IR3   Pave          96.0     2006
5       IR2   Grvl           NaN     2009

In [5]:
df_new = pd.DataFrame(
    {
        "Lot Shape": ["Reg", "IR1", "Reg"],
        "Street": ["Pave", np.nan, "Grvl"],
        "Lot Frontage": [56.0, 58.0, np.nan],
        "Yr Sold": [2005, 2008, 2007]
    }
)

df_new

  Lot Shape Street  Lot Frontage  Yr Sold
0       Reg   Pave          56.0     2005
1       IR1    NaN          58.0     2008
2       Reg   Grvl           NaN     2007

## 1. Imputation

### 1.1. Imputation kategorischer Features

In [ ]:
# TODO: Imputation

### 1.2. Imputation numerischer Features

In [8]:
# TODO: Imputation

## 2. Encoding

### 2.1. Encoding ordinaler Features

In [6]:
# TODO: Ordinale Spalten identifizieren
# TODO: Ordinale Kategorien identifizieren
# TODO: Encoding

### 2.2. Encoding nominaler Features

In [ ]:
# TODO: Nominale Spalten identifizieren
# TODO: Nominale Kategorien identifizieren
# TODO: Encoding

## 3. Feature Scaling

In [7]:
# TODO: Feature Scaling